.food-container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 50px;
}

.food-container img {
    width: 700px;
    height: 700px;
    border-radius: 10px;
}

.food-container div {
    width: 40%;
}

.food-details {
    height: auto;
}

.food-details h1 {
    font-size: 4rem;
    margin-bottom: 30px;
}

.food-details p {
    font-size: 1.2rem;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.button {
    font-size: 15px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #755bea, #ff72c0);
    border-radius: 40px;
    border: none;
    color: white;
}

.short-title {
    color: blueviolet;
}