.customer-review-container {
    height: 60vh;
    text-align: center;
}

.review-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

.review-card {
    width: 30%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    border-radius: 20px;
    margin: 15px 0;
}

.review-card p {
    font-size: 18px;
    margin: 15px 0;
}

.review-card span {
    font-weight: bold;
    color: #755bea;
}

.customer-name {
    color: #5f016b;
    text-align: center;
    font-size: 3rem;
}

.review-card img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.review-button {
    margin: 0 auto;
    display: inline-block; 
    text-transform: uppercase;
    font-size: 17px;
}

.review-button:hover {
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    cursor: pointer;
}