.all-review {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    grid-gap: 50px;
    padding: 0 50px;

}

.all-review-card {
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.all-review-card p {
    font-size: 17px;
    margin: 10px 0;
}

.all-review-card span {
    font-weight: bold;
    color: #755bea;
}

.all-review-card img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.all-review-title {
    color: #5f016b;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
    text-transform: uppercase;
}

.rating {
    color: orangered;
    font-weight: bold;
}